<section id="home-section" class="line">

         <div class="margin">
            <!-- ARTICLES -->             

            <div class="s-12 l-9">

			<sly data-sly-resource="${@path='par',resourceType='wcm/foundation/components/parsys'}">

			
            </div>

            <!-- SIDEBAR -->
            <div class="s-12 l-3">

               <aside>

   				 <sly data-sly-resource="${@path='sidepar',resourceType='wcm/foundation/components/parsys'}"/>

              </aside>

            </div>

		</div>

   </section>

