<sly data-sly-test="${wcmmode.edit}">
edit the component.</sly>
                  <div class="post-text">
                     <h1>${properties.h2text}</h1>
                     <div class="line">
                        <div class="margin">
                           <div class="s-12 l-6">
                              <h4>${properties.emailtext}</h4>
                              <address>
                                 <p><i class="icon-home icon"></i> ${properties.adress}</p>
                                 <p><i class="icon-globe_black icon"></i> ${properties.state}</p>
                                 <p><i class="icon-mail icon"></i> ${properties.contactmail}</p>
                              </address>
                              <br />
                              <h4>Social</h4>
                              <p><i class="icon-facebook icon"></i> <a href="${properties.facebook1url}">${properties.facebook1text}</a></p>
                              <p><i class="icon-facebook icon"></i> <a href="${properties.facebook2url}">${properties.facebook2text}</a></p>
                              <p class="margin-bottom"><i class="icon-twitter icon"></i> <a href="https://twitter.com/MyResponsee">Responsee</a></p>
                           </div>
                           <div class="s-12 l-6">
                              <h4>${properties.h4text}</h4>
                              <form class="customform" action="${properties.buttonurl}">
                                 <div class="s-12"><input name="" placeholder="${properties.defalttext}" title="Your e-mail" type="text" /></div>
                                 <div class="s-12"><input name="" placeholder="Your name" title="Your name" type="text" /></div>
                                 <div class="s-12"><textarea placeholder="Your massage" name="" rows="5"></textarea></div>
                                 <button type="submit">${properties.buttontext}</button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
