<div class="top-nav">
                  <p class="nav-text"></p>
				 	<a class="logo" href="fashionpage.html">            
                  Fashion<span>Blog</span>
                  </a>            
                  <h1>free fashion blog template</h1>
                  <ul class="top-ul right">
                     <li>            
                        <a href="fashionpage.html">Blog</a>            
                     </li>
                     <li>            
                        <a href="about.html">About</a>            
                     </li>
                     <li>            
                        <a href="archivepage.html">Archive</a>            
                     </li>
                     <li>            
                        <a href="contact.html">Contact</a>            
                     </li>
                     <div class="social right">	           
                        <a target="_blank" href="https://www.facebook.com/myresponsee">
                        <i class="icon-facebook_circle icon2x"></i>
                        </a>          
                        <a target="_blank" href="https://twitter.com/MyResponsee">
                        <i class="icon-twitter_circle icon2x"></i>
                        </a>  
                         </ul>
               </div>